{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="landing-page">
            {{ content }}

            {% for kmom in meta.kmoms %}
                <a class="a {{ kmom.class }}" href="{{ base_url }}/analysis/{{ kmom.class }}">
                <div class="box {{ kmom.class }}">
                    <h2> {{kmom.name}} </h2>
                </div>
                </a>
            {% endfor %}
            {# <img class="flash-img" src="{{ base_url }}/image/leaf_256x256.png"> #}
           {# <picture>
                <source media="(min-width: 668px)" srcset="image/sheep.jpg">
                <source media="(min-width: 376px)" srcset="image/sheep.jpg?w=667">
                <img src="image/sheep.jpg?w=375" alt="sheep">
            </picture>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/gCwjLPBqpa0" frameborder="0" allowfullscreen></iframe>
            </div>
            <a href="{{ base_url }}/image/sheep.jpg" target="_blank">
            <picture>
                <source media="(min-width: 668px)" srcset="{{ base_url }}/image/sheep.jpg">
                <img src="{{ base_url }}/image/sheep.jpg&w=667" alt="A sheep">
            </picture>
            </a> #}
        </div>
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>
